<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI Tests" parallel="instances" thread-count="2"> <!-- Or a higher count like 3, 4 etc. -->
    <test name="Text Box Tests">
        <classes>
            <class name="com.automation.demo.tests.TextBoxFormTest"/>
        </classes>
    </test>
</suite>
